@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --background: #563729;
  --tile: #FBF5DA;
  --tileShadow: #F9D695;
  --tileBlue: #2B4BA8;
  --tileRed: #C63B39;
  --tileYellow: #FFC700;
  --tileGreen: #1FB248;
  --tilePurple: #801FA3;
  --letter-font-size: 37px;
  --letter-small-font-size: 28px;
}

body {
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
